.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header__left {
    background-color: #fff;
    border-radius: 30px;
    flex: 0.5;
    display: flex;
    align-items: center;
    color: grey;
    padding: 10px;
}

.header__left > input {
    width: 100%;
    border: none;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin-left: 10px;
}